<div class="NewsfeedPage">
	<div class="navbar">
			<div class="navbar-content">
				<div class="navbar-logo">
					<a src="/" class="logo">NODEL</a>
				</div>
				<div class="search-container">
					<div class="input-group">
				      <input type="text" class="form-control" placeholder="#...">
				      <span class="input-group-btn">
				        <button class="btn btn-default search-btn" type="button">
				        	<span class="glyphicon glyphicon-search"></span>
				        </button>
				      </span>
				    </div>
				</div>
				<div class="navbar-logout">
					<button class="btn logout-btn">
						<span class="glyphicon glyphicon-log-out"></span>
						<a>로그아웃</a>
					</button>
				</div>
			</div>
		</div>
		<!--navbar-->

		<div class="contentWrap">
			<!--AddCard-->
			<div class="addCard">
				<div class="img"><img src="img/plus.png" alt="" ></div>
				<div class="txt">&nbsp;새 글 추가</div>
			</div>
			<!--AddCard-->

			<!--Card Template-->
			<div class="card">
				<div class="card-header">
					<div class="author-img"><img src="img/user-icon.jpg" alt="X" class="img-circle"></div>
					<div class="author-id">Mark1663</div>
				</div>
				<div class="card-body">
					<div class="card-imgWrap">
						<img class="card-img" src="img/test.jpg" alt="No image">
					</div>
					<div class="card-txt">
						저녁은 디너고 점심은 런치에요.
					</div>
					<div class="card-hashtag">
						#이부분을 #어떻게 #구현하죠? #나는바보 #YOLO
					</div>
				</div>
				<div class="card-footer">
					1일전
				</div>
			</div>
			<!--Card Template-->
		</div>

		<div class="footer">
			<div class="container">
				<img src="img/logo.png" class="logo" alt="">
				<div class="infoWrap">
					<a class="info">개인정보 처리방침</a>
				</div>
				<div class="contact">
					CONTACT - chung1685@naver.com
				</div>
				<hr>
				<div class="copyright">
					copyright@ KWEB All Rights Reversed.
				</div>
			</div>
		</div>
</div>
